<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Front End Challenge</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:300|Signika" rel="stylesheet">

  <!-- owl carousel -->
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <!-- Animate CSS -->
  <link rel="stylesheet" href="css/animate.css">

  <!-- Custom CSS -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>

  <header>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <h3 class="title-making">[ Making your Life Easier]</h3>
        <h1 class="title-Discovering">Discovering the World</h1>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          {{!-- <ul class="nav navbar-nav navbar-right"> --}}
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.html">All</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Livestyle</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Work</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->

    </nav>

  </header>

  {{!-- sections --}}
  <section>

  </section>

  <footer>

 
  </footer>

  

</body>

</html>